:root {
border: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}

body {
  display: flex;
}

h1, h2 {
    font-family: "Lavishly Yours", cursive;

}
h1 {
  font-weight: 500;
  font-style: normal;

font-size: 3.2em;
line-height: 1.1;
}
h2 {
  font-size: 2.6em;
  font-weight: 400;
}